@page "/company/{id}"

<div class="page">
    <h1>
        @Model.Name
    </h1>

    @if (Model.ProfilePictureUrl != null)
    {
        <img src="@Model.ProfilePictureUrl"/ class="profile-picture">
    }

    <div>
        <p>
            @Model.Description
        </p>
    </div>
</div>