{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}Farmers Market{% endblock title %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'main/styles/base.css' %}">
        <link rel="stylesheet" href="{% static 'main/styles/nav.css' %}">
    </head>
    <body>

        {% block top-nav %}
        
        <nav class="nav-top">
            <a href="{% url 'main:index' %}" id="home-link">
                <div class="nav-brand">
                    Home
                </div>
            </a>
            <a href="{% url 'main:index' %}" id="brand">
                <div class="nav-brand">
                    Produce Exchange Hub
                </div>
            <a>
        </nav>

        {% endblock top-nav %}

        <div class="content">
            {% block content %}{% endblock content %}
        </div>
        
        <script src="{% static 'main/scripts/thirdparty/jquery-3.6.1.min.js' %}" async defer></script>
        <script src="{% static 'main/scripts/base.js' %}" async defer></script>
        <script src="{% static 'main/scripts/nav.js' %}" async defer></script>

        {% block scripts %}{% endblock scripts %}
    </body>
</html>
