{% extends 'farmers_market/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="edit-company">
    <h1>{% translate "edit_company_header" %}</h1>
    <div class="edit-company-profile-picture">
        {% if company.profile_picture %}
            <img src="{{ company.profile_picture.url }}"  />
        {% else %}
            <img src="{% static 'main/images/no_profile_picture_image.jpg' %}" />
        {% endif %}
        <div>
            <form method="POST" action="{% url 'main:company_profile_picture' company.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ upload_profile_picture_form.as_div }}
                <input type="submit" value="{% translate "upload_image_button" %}" />
            </form>
        </div>
    </div>
    <form method="POST" action="{% url 'main:edit_company' company.id %}">
        {% csrf_token %}
        {% for field in update_company_form %}
            <fieldset>
                {{ field.label_tag }}
                {{ field }}
            </fieldset>
        {% endfor %}
        <input type="submit" value="{% translate "update_company_submit_button" %}" />
    </form>
</div>
{% endblock content %}