{% extends 'farmers_market/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/styles/edit_company.css' %}">
{% endblock styles %}

{% block content %}

<div class="edit-company-view mb-3">
    <div class="row">
        <div class="col-md-3">
            {% include "shared/partials/profile_picture_with_upload.html" with profile_picture=company.profile_picture upload_profile_picture_form=upload_profile_picture_form %}
            <div class="d-grid gap-2">
                <a class="btn btn-secondary" href="{% url 'main:company_users' company.id %}">{% translate "Manage users" %}</a>
                {% if company.is_producer %}
                    <a class="btn btn-secondary" href="#" data-bs-toggle="modal" data-bs-target="#add_sell_order_modal">
                        {% translate "Add sell order" %}
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-8">
                    <h1>{% translate "Edit company" %}</h1>
                    <form method="POST" action="{% url 'main:edit_company' company.id %}">
                        {% csrf_token %}
                        {{ update_company_form|crispy }}
                        <input type="submit" class="btn btn-primary" value="{% translate "Save" %}" />
                    </form>
                    <div class="mt-3">
                        {% if not company.is_activated %}
                            <form method="POST" action="{% url 'main:activate_company' company.id %}">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="{% translate "Activate company" %}">
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="col-4">
                    <div class="container">
                        <h2>{% translate "Contacts" %}</h2>
                        <div>
                            {% for contact in company.contacts.all %}
                                <div>
                                    <label><strong>{{ contact.description }}</strong></label>
                                    <form method="POST"
                                            action="{% url 'main:delete_contact' company.id contact.id %}"
                                            class="inline confirm-action"
                                            data-confirmmessage="{% translate "Delete contact?" %}">
                                        {% csrf_token %}
                                        <button class="btn-icon btn-delete" type="submit"><i class="fa fa-close"></i></button>
                                    </form>
                                    <div>
                                        <label>{% translate contact.contact_type.contact_type %}</label>
                                        {{ contact.value }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="btn btn-light mt-2" type="button" data-bs-toggle="modal" data-bs-target="#add_contact_modal">
                            {% translate "Add contact" %}
                        </button>
                    </div>
                    <div class="container mt-3">
                        <h2>{% translate "Addresses" %}</h2>
                        <div>
                            {% for address in company.addresses.all %}
                                <div>
                                    <label><strong>{{ address.address_type }}</strong></label>
                                    <form method="POST"
                                            action="{% url 'main:delete_address' company.id address.id %}"
                                            class="inline confirm-action"
                                            data-confirmmessage="{% translate "Delete address?" %}">
                                        {% csrf_token %}
                                        <button class="btn-icon btn-delete" type="submit"><i class="fa fa-close"></i></button>
                                    </form>
                                    {% if address.addressee %}<div>{{ address.addressee }}</div>{% endif %}
                                    {% if address.co_address %}<div>{{ address.co_address }}</div>{% endif %}
                                    {% if address.street_address %}<div>{{ address.street_address }}</div>{% endif %}
                                    {% if address.zip_code or address.city %}<div>{{ address.zip_code }} {{ address.city }}</div>{% endif %}
                                    {% if address.country %}<div>{{ address.country.name }}</div>{% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <button class="btn btn-light mt-2" type="button" data-bs-toggle="modal" data-bs-target="#add_address_modal">
                            {% translate "Add address" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="add_address_modal" aria-hidden="true">
    <form method="POST" action="{% url 'main:add_address' company.id %}">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>{% translate "Add address" %}</h1>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">{{ add_address_form|crispy }}</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
                    <input class="btn btn-primary" type="submit" value="{% translate "Save" %}" />
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal" tabindex="-1" id="add_contact_modal" aria-hidden="true">
    <form method="POST" action="{% url 'main:add_contact' company.id %}">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>{% translate "Add contact" %}</h1>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">{{ add_contact_form|crispy }}</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
                    <input class="btn btn-primary" type="submit" value="{% translate "Save" %}" />
                </div>
            </div>
        </div>
    </form>
</div>

{% include "main/partials/add_sell_order_modal.html" %}

{% endblock content %}

{% block scripts %}
    <script src="{% static 'main/scripts/edit_company.js' %}"></script>
{% endblock scripts %}