{% extends 'farmers_market/base.html' %}
{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'main/styles/index.css' %}">

{% endblock styles %}

{% block content %}

<div id="companies">
    {% for company in companies %}
        <div class="company">
            <div class="title">
                <h2>{{ company.name }}</h2>
            </div>
            <div class="profile-picture">
                <img src="{{ company.profile_picture_url }}">
            </div>
            <div class="content">
                {{ company.company_description }}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}