{% extends 'farmers_market/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "main_title" %}{% endblock title %}

{% block styles %}

<link rel="stylesheet" href="{% static 'main/styles/index.css' %}">

{% endblock styles %}

{% block content %}

<div id="companies">
    {% for company in companies %}
    <a href="{% url 'main:company' company.id %}">  
        <div class="company card" style="width: 18rem;">
            {% if company.profile_picture %}
                <img class="card-img-top" src="{{ company.profile_picture.url }}">
            {% endif %}
            <div class="card-body">
                <div class="card-title">
                    <h2>{{ company.name }}</h2>
                </div>
                <div class="card-text">
                    {{ company.description }}
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock content %}