{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}Farmers Market{% endblock title %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'farmers_market/styles/base.css' %}">
        <link rel="stylesheet" href="{% static 'farmers_market/styles/nav.css' %}">
        {% block styles %}{% endblock styles %}
    </head>
    <body>

        {% block top-nav %}
        
            <nav class="nav-top">
                <a href="{% url 'main:index' %}" id="home-link">
                    <div class="nav-brand">
                        Home
                    </div>
                </a>
                <a href="{% url 'main:index' %}" id="brand">
                    <div class="nav-brand">
                        Produce Exchange Hub
                    </div>
                <a>
                
                {% if user.is_authenticated %}
                    <ul class="nav-right-user">
                        {% if user.is_staff %}
                            <a href="{% url 'admin:index' %}">
                                <li class="clickable">Admin</li>
                            </a>
                        {% endif %}

                        <a id="logout-link" href="{% url 'authentication:logout' %}">
                            <li class="clickable">Logout</li>
                        </a>

                        <li>{{ user.first_name }} {{ user.last_name }}</li>
                    </ul>

                {% else %}
                    <ul class="nav-right-buttons">
                        <a href="{% url 'authentication:register' %}">
                            <li>Register</li>
                        </a>
                        <a href="{% url 'authentication:login' %}">
                            <li>Login</li>
                        </a>
                    </ul>
                {% endif %}

                <a href="javascript:void(0);" class="menu-icon">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </a>

                <ul class="language-selector">
                    <li><a id="set_lang_sv"><img src="{% static 'farmers_market/images/flags/swe.png' %}" /></a></li>
                    <li><a id="set_lang_en"><img src="{% static 'farmers_market/images/flags/eng.png' %}" /></a></li>
                </ul>
            </nav>

        {% endblock top-nav %}

        <div class="content">
            {% block content %}{% endblock content %}
        </div>

        <form id="set_lang_form" method="POST" action="{% url 'set_language' %}">
            {% csrf_token %}
            <input type="hidden" id="lang_code" name="language">
        </form>
        
        <script src="{% static 'farmers_market/scripts/thirdparty/jquery-3.6.1.min.js' %}"></script>
        <script src="{% static 'farmers_market/scripts/base.js' %}"></script>
        <script src="{% static 'farmers_market/scripts/nav.js' %}"></script>

        {% block scripts %}{% endblock scripts %}
    </body>
</html>
