{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>
    {% block title %}
      Farmers Market
    {% endblock title %}
  </title>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/cropperjs@1.5.13/dist/cropper.min.css"
    integrity="sha256-BVucHOVAB74kQI49AuWE6CxgqaUs0ceA5f8IMYodeH8="
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="{% static 'farmers_market/styles/base.css' %}"/>
  <link rel="stylesheet" href="{% static 'farmers_market/styles/nav.css' %}"/>
  <link rel="stylesheet" href="{% static 'farmers_market/styles/dist/tailwind.css' %}"/>
  {% block styles %}
  {% endblock styles %}
</head>
<body class="w-full">

{% block top-nav %}
  <div class="flex-container gap-2 w-full bg-gray-100">
    <a class="flex" href="{% url 'main:index' %}">{% translate "navbar_brand" %}</a>

    <div class="flex gap-2 ">
      <a class="flex" href="{% url 'set_lang' %}?lang=sv&amp;next={{ request.path }}">
        <img class="flex" src="{% static 'farmers_market/images/flags/swe.png' %}" alt=""/>
      </a>
      <a class="flex" href="{% url 'set_lang' %}?lang=en&amp;next={{ request.path }}">
        <img class="flex" src="{% static 'farmers_market/images/flags/eng.png' %}" alt=""/>
      </a>
    </div>

    <div class="flex gap-2 justify-end">
      {% if user.is_authenticated %}
        <a class="flex"
           href="{% url 'authentication:user_profile' user.id %}">{{ user.first_name }} {{ user.last_name }}</a>
        {% if user.is_staff %}
          <a class="flex" href="{% url 'admin:index' %}">{% translate "admin_link" %}</a>
        {% endif %}
        <a class="flex" href="{% url 'authentication:logout' %}">{% translate "logout_link" %}</a>
      {% else %}
        <a class="flex" href="{% url 'authentication:login' %}">{% translate "login_link" %}</a>
        <a class="flex" href="{% url 'authentication:register' %}">{% translate "register_link" %}</a>
      {% endif %}
    </div>
  </div>
{% endblock top-nav %}

<div>
  {% block content %}
  {% endblock content %}
</div>

<script
  src="https://cdn.jsdelivr.net/npm/cropperjs@1.5.13/dist/cropper.min.js"
  integrity="sha256-YVg1EQ0H2YQtHAqZXp/Hn7TfqNLBuHn/DWSFcHFO4cc="
  crossorigin="anonymous"
></script>
<script src="{% static 'farmers_market/scripts/image_cropper.js' %}"></script>
<script src="{% static 'farmers_market/scripts/base.js' %}"></script>
{% block scripts %}
{% endblock scripts %}
</body>
</html>
