@page "/authentication/register"
@using Microsoft.AspNetCore.Authorization

@attribute [AllowAnonymous]

<div>
    <h1>@Loc["MainHeader"]</h1>
    
    <EditForm Model="Model">

    </EditForm>
</div>