.page {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

div label {
    display: block;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

button {
    margin-top: 20px;
    float: right;
}

@media screen and (max-width: 600px) {
    .page {
        width: 100%;
    }
}