<div class="container">
  <div class="col-md-5 offset-3">
    <form>
      <div class="mb-2 mt-2">
        <label for="email" class="form-label">E-Mail Address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter E-Mail" />
        <small id="emailHelp" class="form-text text-muted">
          We will never share your e-mail with anyone outside of this service
        </small>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" />
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
