@using System.Globalization
<ul class="language-selector">
    <li>
        <a @onclick="@(() => OnLanguageSelectClick(new CultureInfo("sv-SE")))">
            <img src="images/flags/swe.png"/>
        </a>
    </li>
    <li>
        <a @onclick="@(() => OnLanguageSelectClick(new CultureInfo("en-GB")))">
            <img src="images/flags/eng.png"/>
        </a>
    </li>
</ul>