<div class="company-card-div">
    <h3 class="company-title">@Company.Name</h3>
    <div class="company-description-div">
        <p class="company-description">
            @if (Company.Description != null)
            {
                @Company.Description
            }
        </p>
    </div>
</div>
