<div>
    <h3>@Company.Name</h3>
    <div>
        <p>
            @if (Company.Description != null)
            {
                @Company.Description
            }   
        </p>
    </div>
</div>
