<div class="company-card-div">
    <h3 class="company-title">@Company.Name</h3>
    @if (Company.ProfilePictureUrl != null)
    {
        <img class="company-img-div" src="@Company.ProfilePictureUrl"/>
    }
    <div class="company-description-div">
        <p class="company-description">
            @if (Company.Description != null)
            {
                @Company.Description
            }
        </p>
        <button type="submit" class="company-card-button">Go to</button>
    </div>
</div>