{% load i18n %}
{% load l10n %}

<h2>{% translate "Companies" %}</h1>
{% if companies %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">{% translate "Name" %}</th>
                <th scope="col">{% translate "Status" %}</th>
                <th scope="col">{% translate "Created" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
                <tr class="clickable data-link" data-href="{% url 'main:company' company.id %}">
                    <td>{{ company.name }}</td>
                    <td>{% translate company.status.status_name %}</td>
                    <td>{% localize on %}{{ company.created_date }}{% endlocalize %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div><a class="btn btn-primary" href="{% url 'main:new_company' %}">{% translate "Create another company" %}</a></div>
{% else %}
    <div>
        <p>{% translate "You are not affiliated with any company. Do you want to create one?" %}</p>
    </div>
    <div><a class="btn btn-primary" href="{% url 'main:new_company' %}">{% translate "Create company" %}</a></div>
{% endif %}
