<nav class="nav-top @NavMenuCssClass">
    <div class="nav-brand">
        <NavLink href="/" @onclick="CloseNavMeny">ProduceExchangeHub</NavLink>
    </div>

    <ul class="nav-right-buttons">
        <li>
            <NavLink href="/register" @onclick="CloseNavMeny">Register</NavLink>
        </li>
        <li>
            <NavLink href="/login" @onclick="CloseNavMeny">Login</NavLink>
        </li>
    </ul>

    <a href="javascript:void(0);" class="menu-icon @changeMenuButtonClass" @onclick=ToggleNavMenu>
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </a>
</nav>

@code {
    private bool toggleNavMenu = false;

    private string? NavMenuCssClass => toggleNavMenu ? "responsive" : null;
    private string? changeMenuButtonClass => toggleNavMenu ? "change" : null;

    private void ToggleNavMenu()
    {
        toggleNavMenu = !toggleNavMenu;
    }

    private void CloseNavMeny()
    {
        if (toggleNavMenu)
            ToggleNavMenu();
    }
}
