<nav class="nav-top @NavMenuCssClass">
    @if (_menuOpen)
    {
        <NavLink href="/" @onclick="CloseNavMeny">
            <div class="nav-brand">
                Home
            </div>
        </NavLink>
    } else
    {
        <NavLink href="/" @onclick="CloseNavMeny">
            <div class="nav-brand">
                ProduceExchangeHub
            </div>
        </NavLink>
    }

    <ul class="nav-right-buttons">
        <NavLink href="/register" @onclick="CloseNavMeny">
            <li>
                Register
            </li>
        </NavLink>
        <NavLink href="/authentication/login" @onclick="CloseNavMeny">
            <li>
                Login
            </li>
        </NavLink>
    </ul>

    <a href="javascript:void(0);" class="menu-icon @ChangeMenuButtonClass" @onclick=ToggleNavMenu>
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </a>
</nav>

@code {
    private bool _menuOpen = false;

    private string? NavMenuCssClass => _menuOpen ? "responsive" : null;
    private string? ChangeMenuButtonClass => _menuOpen ? "change" : null;

    private void ToggleNavMenu()
    {
        _menuOpen = !_menuOpen;
    }

    private void CloseNavMeny()
    {
        if (_menuOpen)
            ToggleNavMenu();
    }
}
