<nav class="nav-top @NavMenuCssClass">
    <div class="nav-brand">
        @if (menuOpen)
        {
            <NavLink href="/" @onclick="CloseNavMeny">Home</NavLink>
        } else
        {
            <NavLink href="/" @onclick="CloseNavMeny">ProduceExchangeHub</NavLink>
        }
    </div>

    <ul class="nav-right-buttons">
        <li>
            <NavLink href="/register" @onclick="CloseNavMeny">Register</NavLink>
        </li>
        <li>
            <NavLink href="/authentication/login" @onclick="CloseNavMeny">Login</NavLink>
        </li>
    </ul>

    <a href="javascript:void(0);" class="menu-icon @changeMenuButtonClass" @onclick=ToggleNavMenu>
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </a>
</nav>

@code {
    private bool menuOpen = false;

    private string? NavMenuCssClass => menuOpen ? "responsive" : null;
    private string? changeMenuButtonClass => menuOpen ? "change" : null;

    private void ToggleNavMenu()
    {
        menuOpen = !menuOpen;
    }

    private void CloseNavMeny()
    {
        if (menuOpen)
            ToggleNavMenu();
    }
}
