{% load i18n %}

<a class="btn btn-secondary" href="{% url 'main:company_users' company.id %}">{% translate "Manage users" %}</a>
{% if company.is_producer %}
    <a class="btn btn-secondary" href="#" data-bs-toggle="modal" data-bs-target="#add_sell_order_modal">
        {% translate "Add sell order" %}
    </a>
{% endif %}
{% if company.is_buyer %}
    <a class="btn btn-secondary" href="#" data-bs-toggle="modal" data-bs-target="#add_buy_order_modal">
        {% translate "Add buy order" %}
    </a>
{% endif %}
