{% load crispy_forms_filters %}
{% load i18n %}

<h2>{% translate "Sell orders" %}</h2>
<table class="table">
    <thead>
        <tr>
            <th>{% translate "Product" %}</th>
            <th>{% translate "Price" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for order in sell_orders %}
            <tr>
                <td>{{ order.product }}</td>
                <td>
                    {% if order.price_per_unit %}
                        {{ order.price_per_unit }}
                        {{ order.currency }}{% if order.unit_type %}/{{ order.unit_type }}{% endif %}
                    {% endif %}
                </td>
                <td>
                    <a href="#" class="mr-10" data-bs-toggle="modal" data-bs-target="#edit_order_{{ order.id }}">
                        <i class="fa-regular fa-pen-to-square pr-2"></i>
                    </a>
                    <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<form method="POST" action="{% url "main:update_orders" company.id %}">
    {% csrf_token %}
    {{ edit_sell_orders_formset.management_form }}
    {% for form in edit_sell_orders_formset.forms %}
        <div class="modal" id="edit_order_{{ form.instance.id }}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title">{% translate "Edit order" %}</h1>
                        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ form|crispy }}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">{% translate "Update" %}</button>
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</form>
