{% load crispy_forms_filters %}
{% load i18n %}

<h2>{% translate "Contacts" %}</h2>
<div>
    {% for contact in company.contacts.all %}
        <div>
            <label><strong>{{ contact.description }}</strong></label>
            <form method="POST"
                    action="{% url 'main:delete_contact' company.id contact.id %}"
                    class="inline confirm-action"
                    data-confirmmessage="{% translate "Delete contact?" %}">
                {% csrf_token %}
                <button class="btn-icon btn-delete" type="submit"><i class="fa fa-close"></i></button>
            </form>
            <div>
                <label>{% translate contact.contact_type.contact_type %}</label>
                {{ contact.value }}
            </div>
        </div>
    {% endfor %}
</div>
<button class="btn btn-light mt-2" type="button" data-bs-toggle="modal" data-bs-target="#add_contact_modal">
    {% translate "Add contact" %}
</button>

<div class="modal" tabindex="-1" id="add_contact_modal" aria-hidden="true">
    <form method="POST" action="{% url 'main:add_contact' company.id %}">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>{% translate "Add contact" %}</h1>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">{{ add_contact_form|crispy }}</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
                    <input class="btn btn-primary" type="submit" value="{% translate "Save" %}" />
                </div>
            </div>
        </div>
    </form>
</div>