{% load i18n %}

<table class="table">
    <thead>
        <tr>
            <th>{% translate "Product" %}</th>
            <th>{% translate "Price" %}</th>
            {% if editable %}
                <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.product }}</td>
                <td>
                    {% if order.price_per_unit %}
                        {{ order.price_per_unit }}
                        {{ order.currency }}{% if order.unit_type %}/{{ order.unit_type }}{% endif %}
                    {% endif %}
                </td>
                {% if editable %}
                    <td>
                        <a href="#" class="mr-10" data-bs-toggle="modal" data-bs-target="#edit_order_{{ order.id }}">
                            <i class="fa-regular fa-pen-to-square pr-2"></i>
                        </a>
                        <form class="inline confirm-action" method="POST" action="{% url "main:delete_order" company.id order.id %}">
                            {% csrf_token %}
                            <a href="#" class="delete-order-link" data-confirmmessage="{% translate "Delete order?" %}">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>