<div class="container">
  <form class="m-auto">
    <div class="mb-3">
      <label for="eMail" class="form-label">E-Mail</label>
      <input type="email" class="form-control" id="eMail"/>
    </div>
		<div class="mb-3">
			<label for="password" class="form-label">Password</label>
			<input type="password" class="form-control" id="password"/>
		</div>
		<div class="mb-3">
			<label for="confirmPassword" class="form-label">Confirm Password</label>
			<input type="password" class="form-control" id="confirmPassword"/>
		</div>
    <div class="mb-3">
      <label class="form-label" for="firstName">Firstname</label>
			<input type="text" class="form-control" id="firstName"/>
    </div>
		<div class="mb-3">
			<label class="form-label" for="lastName">Lastname</label>
			<input type="text" class="form-control" id="lastName"/>
		</div>
		<div class="mb-3">
			<label class="form-label" for="phoneNumber">Phone Number</label>
			<input type="text" class="form-control" id="phoneNumber"/>
		</div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>
