@page "/admin"

@using ProduceExchangeHub.Admin.Components;

<h1>Admin</h1>

<ul>
    <a>
        <li>
            @Loc["UsersTabHeader"]
        </li>
    </a>
    <a>
        <li>
            Other tab
        </li>
    </a>
</ul>

<div id="tabs">
    @if (CurrentTab == Tab.UsersTab)
    {
        <UsersComponent></UsersComponent>
    }
</div>