a {
    text-decoration: none;
}

img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

form.inline {
    display: inline;
}

.btn-icon {
    background-color: inherit;
    border: none; /* Remove borders */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.btn-icon.btn-delete {
    color: red;
}
  
#image {
    margin: 0;
}

#model_crop_image div.modal-body {
    padding: 0.5px;
}

.clickable {
    cursor: pointer;
}

.mr-10 {
    margin-right: 10px;
}