/*
    #BCC7B7=background
    #B7C4C7=nav
    #C2B7C7=effects
    #C7BAB7=borders
*/

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0;
    min-height: 100%;
    background-color: #bcc7b7;
    color: #494E4F;
    margin: 0;
}

a {
    text-decoration: none;
    color: #020302;
}

h1:focus {
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    margin: 0 6px;
    padding-top: 2%;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.index-page-title {
    text-align: center;
    margin: 0;
    padding-bottom: 4%;
    font-size: 1.8rem;
}

/** Company card css */
.company-card-list-div {
    width: 90%;
    margin: 0 auto;
}

.company-card-div {
    border-radius: 5px;
    border: black solid 1px;
    width: 20%;
    padding: 10px 10px 10px 10px;
    float: left;
    text-align: center;
    margin-right: 3%;
    padding-bottom: 2%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

.company-card-div:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.company-title {
}

.company-img-div {
    width: 50%;
}

.company-img {
}

.company-description-div {
}

.company-description {
}

.button {
    cursor: pointer;
    border-radius: 40px;
    border: solid 1px #C7BAB7;
    padding: 1em;
    box-shadow: 2px 2px;
}

.button:hover {
    box-shadow: none;
}

.company-card-button {
    width: 60%;
    padding: 5px;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    -webkit-transition: opacity 6s ease-in-out;
    -moz-transition: opacity 6s ease-in-out;
    -ms-transition: opacity 6s ease-in-out;
    -o-transition: opacity 6s ease-in-out;
}

    .company-card-button:hover {
        background-color: #fff;
        color: #000;
        cursor: pointer;
        -webkit-transition: opacity 3s ease-in-out;
        -moz-transition: opacity 3s ease-in-out;
        -ms-transition: opacity 3s ease-in-out;
        -o-transition: opacity 3s ease-in-out;
    }

/* CSS HEX */
/*
    --eggshell: #faf3ddff;
--laurel-green: #c8d5b9ff;
--cambridge-blue: #8fc0a9ff;
--green-sheen: #68b0abff;
--black-coral: #696d7dff;
*/

.width-100 {
    width: 100%;
}

.width-input-100 {
    width: 96%;
}

.fluid-half {
    padding-top: 10px;
    width: 49%;
    display: inline-block;
    float: left;
}

.fluid-full {
    padding-top: 10px;
    width: 100%;
    float: left;
}

.fluid-full input {
    width: 98%
}

.spacer {
    display: inline-block;
    float: left;
    width: 2%;
    height: 100%;
}

select {
    margin: 0;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
}

@media screen and (max-width: 600px) {
    .fluid-half {
        padding-top: 10px;
        width: 100%;
        display: block;
        float: none;
    }

    .fluid-full {
        padding-top: 10px;
        width: auto;
        float: none;
    }

    .fluid-full input {
        width: 98%;
    }

    .width-input-100 {
        width: 98%;
    }

    .spacer {
        display: none;
    }
}