body {
    background-color: #babd8d;
}

.navbar-custom {
    background-color: #7c6a0a;
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
    color: black;
}

.navbar-custom .btn {
    color: black;
    border: thin solid black;
}

.feed-box {
    border: thin black solid;
    margin: 1em 0 0 0;
    padding: 5px;
}
