@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    @if (Companies != null)
        @foreach (CompanyListModel company in Companies)
        {
            <h2>
                @company?.Name?["SV"]
            </h2>
        }
</div>