@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<PageTitle>Index</PageTitle>

<div class="container">
    
    <h1 class="index-page-title">Företag som använder ProduceExchangeHub</h1>

    <div class="company-card-list-div">
        @foreach (CompanyListModel company in Companies)
        {
            <CompanyCard Company="company"/>
        }
    </div>

</div>