@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    @if (Companies != null)
        @foreach (CompanyListModel company in Companies)
        {
            <_CompanyCard Company="@company" />
        }
</div>