@page "/"
@using Microsoft.AspNetCore.Authorization
@using ProduceExchangeHub.Company.Models
@attribute [AllowAnonymous]

<PageTitle>Index</PageTitle>

<div class="container">
    @foreach (CompanyListModel company in Companies)
    {
        <CompanyCard Company="company" />
    }
</div>