@page "/"
@using ProduceExchangeHub.Components

<PageTitle>Index</PageTitle>

<div class="container">
    @foreach (CompanyListModel company in Companies)
    {
        <CompanyCard Company="company" />
    }
</div>