@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    @if (Companies != null)
        @foreach (CompanyListModel company in Companies)
        {
            <h2>
                @company?.Name?["SV"]
            </h2>
        }
</div>