@page "/"
@using ProduceExchangeHub.Components

<PageTitle>Index</PageTitle>

<div class="container">
    @if (Companies != null)
        @foreach (CompanyListModel company in Companies)
        {
            <CompanyCard Company="@company" />
        }
</div>