@page "/authentication/login"

<EditForm Model="@_loginModel" OnValidSubmit="@LoginEventHandler">
    <fieldset>
        <legend>Logga in</legend>
        <DataAnnotationsValidator />
        <div>
            <label for="Username">E-postadress</label>
            <InputText @bind-Value=_loginModel.Username placeholder="xxxxxxxx@domain.se" />
            <ValidationMessage For="() => _loginModel.Username" />
        </div>
        <div>
            <label for="Password">Lösenord</label>
            <InputText @bind-Value=_loginModel.Password type="password" />
            <ValidationMessage For="() => _loginModel.Password" />
        </div>
        <div>
            <input type="submit" value="Logga in" />
        </div>
    </fieldset>
</EditForm>