{% extends 'farmers_market/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate "Login" %}{% endblock title %}

{% block content %}

<div>
    {% if errors %}{{ errors }}{% endif %}
    <form method="POST" action="{% url 'authentication:login' %}">
        {% csrf_token %}
        {{ login_form|crispy }}
        <input class="btn btn-primary" type="submit" value="{% translate "login_submit_button" %}">
    </form>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'authentication/scripts/login.js' %}"></script>
{% endblock scripts %}