{% extends 'farmers_market/base.html' %}
{% load static %}

{% block content %}

<div>
    <form method="POST" action="{% url 'authentication:login' %}">
        {% csrf_token %}
        <fieldset>
            <label for="username">Username:</label>
            <input id="username" name="username" type="text" placeholder="xxxx@example.com" autofocus>
        </fieldset>
        <fieldset>
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" placeholder="*******">
        </fieldset>
        <input type="submit" value="Login">
    </form>
</div>

{% endblock content %}