{% extends 'farmers_market/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate "Register" %}{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'authentication/register.css' %}">
{% endblock styles %}

{% block content %}

{% if register_form.errors %}{{ register_form.errors }}{% endif %}

<form method="POST" action="{% url 'authentication:register' %}">
    {% csrf_token %}
    {{ register_form|crispy }}
    <input type="submit" class="btn btn-primary mb-3" value="{% translate "Register" %}">
</div>

{% endblock content %}