{% extends 'farmers_market/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load shared_filters %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1>{{ user.full_name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-3">
        {% if user.ext.profile_picture %}
            <img src="{{ user.ext.profile_picture.url }}" />
        {% else %}
            <img src="{% static 'farmers_market/images/no_profile_picture_image.jpg' %}" />
        {% endif %}
        <form method="POST" action="{% url 'authentication:upload_profile_picture' user.id %}">
            {% csrf_token %}
            {{ profile_picture_form|crispy }}
        </form>
    </div>
    <div class="col-auto">
        <div>
            <label>{% translate "E-Mail" %}</label>
            <div>{{ user.email }}</div>
        </div>
        <div>
            <label>{% translate "County" %}</label>
            <div>{{ user.ext.county|hide_none }}</div>
        </div>
        <div>
            <label>{% translate "Country" %}</label>
            <div>{{ user.ext.country.name }}</div>
        </div>
    </div>
</div>

{% endblock content %}
